.Pages {
  background-image: url('https://images.pexels.com/photos/9305719/pexels-photo-9305719.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}

.form-background {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
}
