.row {
  display: flex;
  flex-wrap: wrap;
}

  .scrabble-container {
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    /* background-color: #ffffff; */
    background-image: url(../scrabble/scrabble2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }

  
  .scrabble-tile {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 2px solid #000000;
    box-shadow: 2px 2px #2f2f2f;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 30px;
    flex-grow: 1;
  }
  
  @media (max-width: 767px) {
    .scrabble-tile {
      width: 65px;
      height: 65px;
      margin-left: 10px;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .scrabble-tile {
      width: 55px;
      height: 55px;
      margin-left: 5px;
      margin-top: 10px;
    }
  }

  @media (max-width: 575px) {
    .scrabble-container {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  
  .scrabble-tile-letter {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    .scrabble-tile-letter {
      font-size: 28px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .scrabble-tile-letter {
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  
  .scrabble-tile-score {
    font-size: 16px;
    position: absolute;
    bottom: 4px;
    right: 4px;
  }

  @media (max-width: 767px) {
    .scrabble-tile-score {
      font-size: 14px;
      position: absolute;
      bottom: 3px;
      right: 4px;
    }
  }
  
  @media (max-width: 575px) {
    .scrabble-tile-score {
      font-size: 10px;
      position: absolute;
      bottom: 3px;
      right: 4px;
    }
  }

  
  .text-center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .title-h2 {
    color: white;
    text-shadow: 2px 2px #333333;
  }