.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: auto;
    /* background-image: url('../assets/images/library.png'); */
    background-size: 100% 100%;
    background-position: center center;
  }
  
  .hero-form .btn {
    margin-top: 10px;
  }