.App {
  text-align: center;
  --text-color: black;
}

.Link {
  color: #61dafb;
}

.Pages {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.home {
  color: var(--text-color);
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group input[type="text"],
.input-group button {
  box-sizing: border-box;
  height: 40px;
  border-radius: 10px;
  padding: 15px;
  border: none;
  outline: none;
}

/* fade classNames used to handle the routing animation */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* CSS */
.typewriter-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid orange;
  font-size: 1.2rem;
  color: #212529;
  animation: typing 4s steps(40), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
